:root {
    --Nero: #161616;
    --GrigioScuro: #161616;
    --GrigioChiaro: #2C2C2C;
    --Bianco: #E8EAED;

    --Rosso: #AF0202;
    --Verde: #02AF16;

    --Sidebar-Pad: 10px;
    --Sidebar-Gap: 25px;

    --Pill: 25px;
    
    --Zoom-Color: #fff;
    --Zoom-Disabled: #575757;

    --Zoom-Border: 1px solid var(--GrigioChiaro) !important;
    --Zoom-Padding: 7px;
}

#zam-map {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0px;
    left: 0px;

    background: var(--Nero);
}

.leaflet-bar a {
    color: var(--Zoom-Color);
}

.leaflet-bar a.leaflet-disabled {
    color: var(--Zoom-Disabled);
}

.leaflet-bar a:first-child {
    background-color: var(--GrigioScuro) !important;
    border-top-left-radius: var(--Pill) !important;
    border-top-right-radius: var(--Pill) !important;

    border: var(--Zoom-Border);

    padding: var(--Zoom-Padding);
}

.leaflet-bar a:last-child {
    background-color: var(--GrigioScuro) !important;
    border-bottom-left-radius: var(--Pill) !important;
    border-bottom-right-radius: var(--Pill) !important;

    border: var(--Zoom-Border);

    padding: var(--Zoom-Padding);
}

.leaflet-bar {
    border: none !important;
    border-radius: var(--Pill);
}
