.zam-map {
    background-color: #111111;
    cursor: grab;

    overflow: hidden;

    display: flex;
    background-size: cover;
    
    background-repeat: no-repeat;

    background-origin: content-box;
}

.zam-map:active {
    cursor: grabbing;
}

.zam-map-marker {
    position: absolute;
    width: 40px;
    height: 40px;

    background-color: green;
    border: 1px solid lightgreen;

    border-radius: 10px;

    cursor: pointer !important;
}